<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

    <title>TeacherSupportIndex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right"
               placeholder="Hello!" th:text="${currentUserName}"
               disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Admin Dashboard</h5>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="/teacherSupportHome">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

    <div class="jumbotron text-center rounded bg-white text-dark mb-0  mt-2">
        <h3>Hello dear Admin !</h3>
        <p>From this dashboard you can add/modify/delete site components and users.</p>

        <p>Something went wrong ?</p>
        <p>Contact our support teacher.supp.tswa@gmail.com</p>
    </div>

    <div class="jumbotron text-center rounded bg-white text-dark mb-0  mt-3">
        <h3 class="mb-4">Manage Faculties</h3>
        <div class="container">
            <div class="row">

                <div class="col">

                    <form class="mt-3" id="edDeleteFacultyForm">

                            <div class="table-responsive makeMeScroll">
                                <table class="table">
                                    <tbody>


                                    <tr th:each="obj : ${hAllFaculty}">

                                        <td th:text="${obj.facultyNameField}"></td>
                                        <td>
                                            <img  src="img/logo.jpg" th:id="${obj.id}"  class="rounded mt-1" alt="..." height="80" width="80">
                                        </td>
                                        <td>
                                            <div class="form-check " >
                                            <input class="form-check-input" type="radio" name="facultyDe" th:value="${obj.facultyNameField}"/>
                                            </div>
                                        </td>

                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="text-right mt-2">
                                <button type="button" id="deleteFacultyButton" class="btn bg-changableColor text-white">Delete</button>
                            </div>

                    </form>
                </div>

                <div class="col">
                    <h3 class="mb-4">Add Faculty</h3>
                    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">
                                <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="resultOfAddingFaculty" align="center"></div>
                            </div>
                            <div class="col"></div>
                        </div>
                        <div class="form-group mt-4">

                            <div>
                                <input id="facultyName" type="text" name="facultyName" class="form-control rounded text-center mb-2"/>

                                <label for="facultyFotoAdd" class="btn text-white bg-changableColor rounded ">Add
                                    Faculty Foto</label>
                                <div class="ml-4">
                                    <input id="facultyFotoAdd" style="visibility:hidden;" type="file" name="uploadFile">
                                </div>
                            </div>
                        </div>
                        <button title="Firstly you must add faculty phoho" type="button" class="btn text-white bg-changableColor rounded " id="uploadFacultyFoto">Add Faculty</button>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="jumbotron text-center rounded bg-white text-dark mb-0  mt-3">
        <h3 class="mb-4">Manage Users</h3>
        <div class="row">
            <div class="col-sm">
        <form id="UsersForm">

                <div class="table-responsive makeMeScroll">
                    <div class="form-check">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Surname</th>
                            <th scope="col">Faculty</th>
                            <th scope="col">e-mail</th>
                            <th scope="col">Password</th>
                            <th scope="col">Role</th>
                            <th scope="col">Active</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="objPerson : ${currentUsers}">
                            <td th:text="${objPerson.nameField}"></td>
                            <td th:text="${objPerson.surnameField}"></td>
                            <td th:text="${objPerson?.facultyField?.facultyNameField}"></td>
                            <td th:text="${objPerson.userSecurityDataField.email}"></td>
                            <td th:text="${objPerson.userSecurityDataField.password}"></td>

                            <td>
                                <select >
                                    <span th:each="objRole: ${objPerson.userSecurityDataField.myRoles}" >
                                    <option th:text="${objRole.roleName}"></option>
                                    </span>
                                </select>

                            </td>

                            <td th:text="${objPerson.userSecurityDataField.getActive()}"></td>
                            <td>
                                <input class="form-check-input" type="radio" name="userToDelete" th:id="${objPerson.id}" th:value="${objPerson.id}">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="text-right mt-2 ">
                <button data-toggle="modal" data-target="#adminAddUserModal" type="button"
                        class="btn bg-changableColor text-white">Add
                </button>
                <button form="UsersForm" type="button" class="btn bg-changableColor text-white" id="buttonDelete">Delete</button>
                <button type="button" class="btn bg-changableColor text-white" data-toggle="modal" data-target="#deleteConfirm">
                    Delete All
                </button>
            </div>
        </form>
            </div>
      <div class="col-xs">
        <form method="POST" enctype="multipart/form-data" id="fileUpload">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="listFiles2" align="center"></div>
                </div>
                <div class="col"></div>
            </div>
            <div class="form-group mt-4">

                <div>
                    <label title="You can load user data from file.
Remember to upload files in correct format.
Name,Surname,Faculty,ROLE,email
Incorrect data will be discarded." for="UsersAdd" class="btn text-white bg-changableColor rounded ">Add File</label>
                    <div class="ml-4">
                        <input id="UsersAdd" style="visibility:hidden;" type="file" name="uploadfile">
                    </div>
                </div>
            </div>
            <button type="button" class="btn text-white bg-changableColor rounded " id="newUserFromFile">Add Users From File</button>
        </form>
      </div>
</div>


        <div class="modal fade" id="adminAddUserModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Add User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">


                            <form id="InnerAddNewUserForm" th:object="${userDataForAdminAction}" th:action="@{/teacherSupportAdminDashboard/newUserAdminAction}" method="post">
                                <div class="row">
                                    <div class="col-xs">
                                        <input type="text" class="form-control text-center" placeholder="Role: " disabled>
                                    </div>
                                    <select class="col-5 ml-3"  th:field="*{userRoleDTOField}">
                                        <option th:value="USER">USER</option>
                                        <option th:value="ADMIN">ADMIN</option>
                                        <option th:value="BOTH">BOTH</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-xs ">
                                        <input type="text" class="form-control text-center" placeholder="Name: "
                                               disabled>
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control rounded text-center d-inline" th:field="*{userNameDTOField}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs ">
                                        <input type="text" class="form-control text-center" placeholder="Surname: "
                                               disabled>
                                    </div>
                                    <div class="col-sm">
                                        <input type="text" class="form-control rounded text-center d-inline" th:field="*{userSurnameDTOField}"/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs ">
                                        <input type="text" class="form-control text-center" placeholder="e-mail: " disabled>
                                    </div>
                                    <div class="col-sm">
                                        <input type="email" class="form-control rounded text-center d-inline" th:field="*{userEmailDTOField}"/>
                                    </div>
                                </div>

                                <div class="row mr-0">

                                    <input type="text" class="form-control text-center" placeholder="Faculty: "
                                           disabled>
                                </div>
                                <div class="row mr-0 ">

                                    <select class="col-xs" th:field="*{userFacultyDTOField}">

                                                <option th:each="f :${hAllFaculty}" th:value="${f.facultyNameField}" th:text="${f.facultyNameField}"/>

                                    </select>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn bg-changableColor text-white" form="InnerAddNewUserForm">
                            Confirm
                        </button>
                        <button type="button" class="btn bg-changableColor text-white" data-dismiss="modal">Close
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="bg-white"></p>

<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>
<div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete all ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>This action will remove all accounts with user role.</p>
                <p>Are you sure?</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{/deleteAll}" >
                    <button type="submit" class="btn bg-changableColor text-white">Commit</button>
                    <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Discard</button>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js"></script>
<script src="/js/adminDashboard.js"></script>
</html>