<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>TeacherSupportAboutMe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!"
               th:text="${currentUserName}"
               disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a type="button" th:href="@{/logout}" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Make it easy</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="/teacherSupportHome">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <div class="row">

        <div class="col bg-white jumbotron text-dark">

            <form id="basicInfoForm">
                <h4>Basic Info</h4>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="postResultDivBasicInfo" align="center"></div>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="container mt-2">

                    <div class="row" >
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Degree: " disabled>
                        </div>


                        <div class="col-sm">
                            <input id="degree" name="degree" type="text"
                                   class="form-control rounded text-center d-inline" th:placeholder="${currentUserPerson.getDegreeField()}"/>
                        </div>

                    </div>

                    <div class="row ">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Name: " disabled>
                        </div>
                        <div class="col-sm">
                            <input type="text" class="form-control rounded text-center d-inline"
                                   th:placeholder="${currentUserPerson.getNameField()}" disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Surname: " disabled>
                        </div>
                        <div class="col-sm">
                            <input type="text" class="form-control rounded text-center d-inline"
                                   th:placeholder="${currentUserPerson.getSurnameField()}" disabled/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Workplace: " disabled>
                        </div>
                        <div class="col-sm">
                            <input id="workplace" name="workplace" type="text"
                                   class="form-control rounded text-center d-inline"  th:placeholder="${currentUserPerson.getWorkAddressField()}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Profession: " disabled>
                        </div>
                        <div class="col-sm">
                            <input id="profession" name="profession" type="text"
                                   class="form-control rounded text-center d-inline"  th:placeholder="${currentUserPerson.getProfessionField()}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="e-mail: " disabled>
                        </div>
                        <div class="col-sm">
                            <input type="text" class="form-control rounded text-center d-inline"
                                   th:placeholder="${currentUserName}" disabled />
                        </div>
                    </div>


                        <div class="row">
                            <div class="col-5 ">
                                <input type="text" class="form-control text-center" placeholder="Phone Number: " disabled>
                            </div>
                            <div class="col-sm">
                                <input type="text" id="phone" title="Nine digits are expected" name="phone" class="form-control rounded text-center d-inline" th:placeholder="${currentUserPerson.getPhoneNumberField()}"/>
                            </div>
                        </div>


                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="My usos: " disabled>
                        </div>
                        <div class="col-sm">
                            <input id="usos" name="usos" type="text" class="form-control rounded text-center d-inline" th:placeholder="${currentUserPerson.getUsosPersonProfileLinkField()}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Twitter: " disabled>
                        </div>
                        <div class="col-sm">
                            <input id="twitter" name="twitter" type="text"
                                   class="form-control rounded text-center d-inline" th:placeholder="${currentUserPerson.getTwitterField()}"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <input type="text" class="form-control text-center" placeholder="Facebook: " disabled>
                        </div>
                        <div class="col-sm">
                            <input id="facebook" name="facebook" type="text"
                                   class="form-control rounded text-center d-inline" th:placeholder="${currentUserPerson.getFacebookField()}"/>
                        </div>
                    </div>

                    <div class="text-right mt-2">
                        <button type="button" id="basicInfoButton" form="basicInfoForm" class="btn mt-2 bg-changableColor text-white">Add
                            Basic Info
                        </button>
                    </div>
                </div>

            </form>

        </div>

        <div class="col bg-white jumbotron text-dark ml-3 ">
            <h4>Hobby</h4>
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="postResultDivHobby" align="center"></div>
                </div>
                <div class="col"></div>
            </div>
            <form id="hobbyForm" class="form-control bg-gray mt-2">
                <textarea class="form-control rounded text-center" id="hobbyContentID" rows="10" th:placeholder="${currentUserPerson.getHobbyField()}"></textarea>
            </form>

            <div class="text-right mt-2">
                <button type="button" id="hobbyButton" form="hobbyForm" class="btn mt-2 bg-changableColor text-white">Add/Update Hobby
                    Info
                </button>
            </div>
        </div>
        <div class="col bg-white jumbotron text-dark ml-3 ">
            <h4>Foto and CV</h4>
            <img id="personFoto" src="img/logo.jpg" class="rounde mt-2" width="300" height="375"/>

            <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
                <div class="form-group mt-4 ">
                    <div>
                        <label id="addFotoId" for="fotoAdd" class="btn text-white bg-changableColor rounded mt-2">Add Foto</label>
                        <div class="ml-4">
                            <input id="fotoAdd" style="visibility:hidden;" type="file" name="uploadfile">
                        </div>
                    </div>
                </div>

                <button type="button" class="btn text-white bg-changableColor rounded " id="uploadFoto">Upload</button>

            </form>

            <form method="POST" enctype="multipart/form-data" id="fileUploadForm2">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <div class="container bg-changableColor text-white mt-3 mb-2 rounded pr-0 pl-0" id="listFiles2" align="center"></div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="form-group mt-4 ">

                    <div>

                        <label id="addCVId" for="cvAdd" class="btn text-white bg-changableColor rounded ">Add CV</label>
                        <div class="ml-4">
                            <input id="cvAdd" style="visibility:hidden;" type="file" name="uploadfile">
                        </div>
                    </div>
                </div>
                <button type="button" class="btn text-white bg-changableColor rounded " id="uploadCV">Upload</button>

            </form>

        </div>

    </div>

</div>


<p class="bg-white"></p>

<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>

</body>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<script src="/js/aboutMe.js"></script>
</html>