<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>TeacherSupportHome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<p>
<div class="text-right pr-3 pt-2 pb-2">
    <form>

        <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!"
               th:text="${currentUserName}" disabled/>
        <br/>
        <div class="d-inline pr-2">
            <a th:href="@{/logout}" type="button" class=" btn text-white bg-changableColor btn-sm">Log out</a>
        </div>
    </form>
</div>
</p>
<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <h1>TeacherSupportApp</h1>
    <h5>Make it easy</h5>
</div>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">TeacherSupportApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Hello</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="/teacherSupportHome">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportPublications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportStudent">Student</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/teacherSupportContact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
    <div>

        <h4>Add News</h4>
        <form id="newNewsForm" class="form-control text-dark" th:object="${newNews}" th:action="@{/tshome/new}"
              method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>

            <textarea class="form-control rounded text-center" rows="5" th:field="*{newsContentField}"
                      form="newNewsForm">
                    </textarea>

        </form>
        <div class="text-right mt-2">
            <button type="submit" form="newNewsForm" class="btn mt-2">Add</button>
        </div>
    </div>

    <h4>Recent News</h4>
    <div class="mt-4 text-dark">
        <form id="deleteNewsForm">

            <div class="table-responsive makeMeScroll bg-white">
                <table class="table">
                    <tbody>


                    <tr th:each="objNews : ${news}">
                        <td th:text="${objNews.newsContentField}"></td>
                        <td>
                            <div class="form-check ">
                                <input class="form-check-input" type="radio" name="selectedNews"
                                       th:value="${objNews.newsContentField}"/>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </form>

    </div>
    <div class="text-right mt-2">
        <button type="button" class="btn" data-toggle="modal" data-target="#editNewsModal" id="editNewsButton">Edit</button>
        <button type="button" class="btn" id="deleteNewsButton">Delete</button>
    </div>
</div>
<div class="modal fade" id="editNewsModal" tabindex="-1" role="dialog" aria-labelledby="editNewsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editNewsModalLabel">Edit News</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container pt-3 pb-3  rounded bg-changableColor">
                    <form id="editNewsModalForm"  th:object="${editNewsPostObj}" th:action="@{/teacherSupportHome/editNews}" method="post">

                        <input type="hidden"th:field="*{oldContent}" id="editNewsModalContentOld" />

                        <textarea class="form-control rounded text-center mt-3"  id="editNewsModalContentNew"   th:field="*{newContent}"></textarea>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" form="editNewsModalForm" class="btn bg-changableColor text-white">Update</button>
                <button type="button" class="btn bg-changableColor text-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<p class="bg-white"></p>
<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright:
    Karolina Makowska
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js"></script>
<script src="/js/home.js"></script>
</html>
       
