<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>TeacherSupportIndex</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="../static/css/teacherSupportCSS.css"
          th:href="@{css/teacherSupportCSS.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <p>
    <div class="text-right pr-3 pt-2 pb-2"> 
    <form>
        
    <input type="text" class="form-control bg-white border-0 w-25 d-inline text-right" placeholder="Hello!" th:text="${currentUserName}" disabled/>
    <br/>
    <div class="d-inline pr-2">
    <a  class=" btn text-white bg-changableColor btn-sm" th:href="@{/logout}">Log out</a>
    </div>
</form>    
    </div>
</p>
    <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">
        <h1>TeacherSupportApp</h1>
        <h5>Make it easy</h5>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">TeacherSupportApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Hello</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportHome">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportAboutMe">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportPublications">Publications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportStudent">Student</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/teacherSupportContact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportGenerate">Generate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportEditProfile">Edit Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teacherSupportAdminDashboard">Admin Dashboard</a>
                </li>
            </ul>
        </div>
    </nav>
        <div class="jumbotron text-center rounded-0 bg-changableColor text-white mb-0">

                <div class="jumbotron text-center rounded bg-white text-dark mb-0">
                        <h2>About</h2>
                        <h4>Web App developed for UMK purposes by Karolina Makowska.</h4>
                        <p>Create your very own academic teacher website in few easy steps.</p>
                    </div>
            </div>
            <div class="jumbotron text-center rounded-0 bg-white text-dark mb-0">
                    
                   <form id="selectFaculty" method="POST">
                           <div class="table-responsive">
                               <div class="table-responsive">
                               <table class="table">
                                   <tbody>
                                   <tr>
                                       <td th:each="one : ${facultyList}">
                                           <div class="form-check">
                                               <input class="form-check-input" type="radio" name="selectedFaculty" th:value="${one.facultyNameField}"/>
                                            <img  src="img/logo.jpg" th:id="${one.id}"  class="rounded mt-1" alt="..." height="200" width="200"/>
                                               <p class="mt-2" th:text="${one.facultyNameField}"></p>
                                           </div>
                                       </td>
                                   </tr>
                                   </tbody>
                               </table>
                               </div>
                           </div>
                    <button type="button" class=" btn text-white bg-changableColor btn-sm mt-3"id="confirmFacultyButton">Confirm Faculty</button>
                   </form>    
            </div>
<div class="jumbotron footer-copyright text-center py-3 rounded-0 bg-changableColor text-white">© 2018 Copyright: Karolina Makowska </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.js"></script>
<script src="/js/index.js"></script>
</html>

